body{
    background-color:burlywood;
    font-family: 'roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

p{
    color:chocolate;
    font-size: 18px;
}

/* Selectores de CSS */
div h2{
    color:darkblue;
}

/* IDs y Clases - Los IDs son unicos por cada elemento, las Clases son repetibles */
#parrafo-id{
    font-size: 1.5em;
    font-weight: bold;
}
.parrafo{
    color:darkgreen;
    font-style: italic;
}
a, img{
    display: block;
}
a{
    margin: 30px 20px;
    text-decoration: none;
    color: black;
}
a:hover{color:blue;}
img{
    width: 70%;
    margin: auto;
}
table, th, td{
    border-style: double;
    color: black;
}